#doctable{    border: 2px solid black;
    border-radius: 4px;font-family: asul, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;background-color:hsla(40,53%,100%,0.30)}

h1, h2{font-family: asul, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;-webkit-font-smoothing: subpixel-antialiased;}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	background-color: #b4d6df;
	border: 1px solid black;
	padding: .5em 1em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	min-width: 50px
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.disabledbutton {
	background-color: gray;
	pointer-events: none;
}

.slim{min-width:15px !important; padding: .3em .3em .3em !important; }

select, input {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa; /*url("img/icon-select.png") no-repeat 90% 50%;*/
    padding: 3px;
}

select select {
    padding: 8px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

select select:focus {
    outline: none;
}

#doc_data{width:100%; /*720px*/}

#doc_data input {width: 300px}

.CodeMirror{max-width:100% !important; /*790px*/}
.admin_form{padding: 19px;
    margin-bottom: 20px;
    background-color: #dcdada;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    max-width:400px}

#meta_table{width:800px;  table-layout: fixed;}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: "\00a0\25B4\25BE" 
}

#corpus_list_table {border: none; table-layout: fixed; width:350px}
#corpus_list_table td {border: none}
.corp_label{width:120px}

.disabled{color:gray;cursor:default!important;background-color:lightgray}
.disabled:active {
	position: relative;
	top: 0px !important;
}

.report_container{

padding: 10px;
  border: solid 5px #c9c9c9;
  background-color: white;
  width: 50%;
  vertical-align: top;
  }

.tooltip
{
  text-decoration:none;
  position:relative;
}

.tooltip span
{
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white;
}

.tooltip:hover span
{
  display:block;
  position:absolute;
  top:-80;
  left:0;
  z-index:1000;
  width:320px;
  max-width:320px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}

.h128{
	height: 12.8px;
}

#ValidationTableContainer{
width: 100%}

.jtable td{
    word-break: break-all;
}

tfoot {
    display: table-row-group;
}

#filter_id{width:30px}
#filter_mode{width:60px}