<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
		<head>
				<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
				<title>GitDox - Login</title>
				<link rel="stylesheet" href="**skin**" type="text/css" charset="utf-8"/>
				<link rel="stylesheet" href="css/gitdox.css" type="text/css" charset="utf-8"/>
				<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css"/>
				<script>var __adobewebfontsappname__="dreamweaver"</script>
				<link rel="stylesheet" href="https://use.edgefonts.net/c/dbcb1c/1w;asul,2,WXx:W:n4/l" media="all"><script src="https://use.edgefonts.net/asul:n4:default.js" type="text/javascript"></script>
				<meta charset="UTF-8"/>
				<meta name="viewport" content="width=800">
				<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
				<link rel="icon" href="favicon.ico" type="image/x-icon">	
		</head>

		<body id="home">
				<div id="wrapper">
						<div id="content" style="height: 280px !important; min-height: 100px !important">
								<div class="banner">
										<table>
												<tr>
														<td rowspan="2">
																<a href="open.py">
																		<img src="img/login_logo.png" alt="GitDox" class="logo" height="80px"/>
																</a>
														</td>
														<td class="logged_in">
																&nbsp;
														</td>
												</tr>
												<tr>
														<td><h1>GitDox - Login</h1></td>
												</tr>
										</table>
								</div>
								<br>

								**login form**

								**login failed**

								<br>

								<!--
										 <p>Alternatively <a href="**new login link**">click on this link</a> to create a new login.</p>
								-->
								<br>
						</div>
						<br>
				</div>
		</body>
</html>
