<div id="header">
	<div id="logo">
		<div style="float:left; position:relative; left: 100px; padding-top: 40px">
			<a href="https://corpling.uis.georgetown.edu/">
				<!--<img id="img1" src="img/Georgetown-logo.png" alt="Georgetown University - Computational Linguistics" height="100px" style="background-color:white; padding:10px;border-radius:5px;"/>-->
				<img id="img1" src="img/np-georgetown.png" alt="Georgetown University - Computational Linguistics" height="30px"/>
				<img id="img2" src="img/np-university.png" alt="Georgetown University - Computational Linguistics" height="30px"/>
				<br>
				<span style="font-family: Georgia, Times New Roman, Serif; font-style: italic; font-weight: bold; color: white;
				font-size: 15pt; text-decoration: none !important">Corpus Linguistics</span>
			</a>
		</div>
		<div style="float:right; margin-right:100px; margin-top: 20px;">
			&nbsp;
		</div>
		<img id="img4" src="img/ruleline.png" width="100%" height="14" alt=""/>
	</div>
</div>
