		<div id="header">
			<div id="copticlogo">
				<a href="http://copticscriptorium.org/">
					<img id="img1" src="https://corpling.uis.georgetown.edu/coptic-nlp/img/copticlogo.png" width="210" height="101" alt="Coptic SCRIPTORIUM"/>
				</a>
			</div>
			<div id="unicorn">
				<a href="http://copticscriptorium.org/">
					<img id="img2" src="https://corpling.uis.georgetown.edu/coptic-nlp/img/unicorn.png" width="80" height="101" alt="Unicorn"/>
				</a>
			</div>
			<div id="englishlogo">
				<a href="http://copticscriptorium.org/">
					<img id="img3" src="https://corpling.uis.georgetown.edu/coptic-nlp/img/englishlogo.png" width="199" height="101" alt="Coptic SCRIPTORIUM"/>
				</a>
			</div>
			<img id="img4" src="img/ruleline.png" width="100%" height="14" alt=""/>
			</br>
			</br>
		</div>