<html>
    <head>
        <script>
         function copyForm() {
             opener.document.hiddenForm.metakey.value = document.popupForm.metakey.value;
             opener.document.hiddenForm.metavalue.value = document.popupForm.metavalue.value;

             opener.document.hiddenForm.submit();
             window.close();
             return false;
         }
        </script>
    </head>
    <body>
        <form name="popupForm" onSubmit="return copyForm()">
            field name (e.g., author):<br>
            <input list="metakeys" name="metakey">
            <datalist id="metakeys">
                {{#options}}
                  <option value="{{.}}">
                {{/options}}
            </datalist>
            <br>
            field value (e.g., Besa):<br>
            <input type="text" name='metavalue'><br>
            <input type="button" value="Submit" onClick="copyForm()">
        </form>
    </body>
</html>
